@import "../../_variables.css";

.Cell {
  /* */
}

.pre, .pre-alt, .obj-container {
  overflow: hidden;
  font-family: monospace;
  max-width: 150px;
  background: #ddd4;
  margin: 4px 3px;
  border: 1px solid #aaa;
  padding: 4px;
}

.pre {
  overflow-x: auto;
  width: 100%;
}

.pre-alt {
  display: inline-block;
  vertical-align: top;
  width: unset;
}

.popover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.func {
  background: #fff;
}

.array {
  background: #ffb;
}

.any {
  background: #dfa
}

.string {
  background: #f1d7ea;
}
