@import "../../_variables.css";

.RequestType {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-column-gap: 10px;

  & textarea {
    width: 100%;
    border: 1px solid #ccc;
    overflow-x: hidden;
    min-height: 50px;
    font-family: "Lucida Grande", "Courier New", monospace, serif;
  }
}

.title {
  text-transform: uppercase;
  color: #555;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 0.8em;
}

.payload {
  
}
