.App {
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.header {
  /* */
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
}

.key-list {
  flex-shrink: 1;
  flex-grow: 0;
  min-width: 200px;
  max-width: 15vw;
}

.table {
  flex-grow: 1;
}

.scrollable {
  width: inherit;
  height: inherit;
  overflow: auto;
}
