.App {
  position: relative;
  display: grid;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "browse browse"
    "sidebar main"
  ;

}
