@import "../../_variables.css";

.RObject {
  display: inline-block;
  background: #fff;
  filter: $drop-shadow;
  padding: 7px;
  margin: 7px 5px;
  vertical-align: top;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 120px;
  line-height: 1.1;

  & > h3 {
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $text-light;
    margin-bottom: 5px;
  }
}

.simple {
  display: inline-block;
  max-width: 40vw;
  overflow: hidden;
  white-space: pre;
  text-overflow: ellipsis;
}
