@import "../../_variables.css";

.RequestTypeSelector {
  /* */
}

.item {
  padding: 7px 10px;
  cursor: pointer;
  color: #888;

  &.valid {
    color: #000;
    
    &:hover {
      background: #ddd;
    }
  }

  &.selected {
    background: $highlight;
    color: white;
  }
}
