.header {
  padding: 14px;
  align-content: center;
  border-bottom: 1px solid #ccc;
  background-image: linear-gradient(to bottom, white, #f3f3f3 88%, #eee);
  display: grid;
  grid-row-gap: 14px;
  align-content: stretch;
  grid-template-rows: min-content auto;
  overflow: hidden;
}

.nav {
  display: grid;
  grid-template-columns: [method] 100px [address] auto [go] 70px;
  width: calc(100% - 14px);
}

.request-data-container {
  display: grid;
  grid-template-columns: [type] 10% [payload] 40% [headers] 50%;
  grid-column-gap: 14px;
  width: calc(100% - 14px);

  & .title {
    text-transform: uppercase;
    color: #555;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.8em;
  }
}

.method {
  grid-area: method;
  margin-right: 8px;
}

.address {
  grid-area: address;
  & input {
    width: 100%;
    padding: 7px 14px;
    font-size: 1rem;
  }
}

.payload {
  grid-area: payload;
}

.headers {
  grid-area: headers;
}

.payload, .headers {
  & textarea {
    width: 100%;
    border: 1px solid #ccc;
    overflow-x: hidden;
    min-height: 50px;
    font-family: "Lucida Grande", "Courier New", monospace, serif;
  }
}

.go {
  grid-area: go;
  & button {
    width: 100%;
    font-size: 1rem;
    padding: 7px 14px;
  }
}
