.header {
  padding: 14px;
  align-content: center;
  border-bottom: 1px solid #ccc;
  background-image: linear-gradient(to bottom, white, #f3f3f3 88%, #eee);
  display: grid;
  grid-row-gap: 14px;
  align-content: stretch;
  grid-template-rows: min-content auto;
}

.request-data-container {
  display: grid;
  grid-template-columns: [payload] 2fr [headers] 1fr;
  grid-column-gap: 14px;
  width: 100%;
}
