@import "../../_variables.css";

.DataTable {
  width: 100%;
  padding: 5px;
  border-spacing: 2px;
  border-collapse: separate;

  & thead th {
    background: #acf;
    padding: 4px;
  }

  & tbody td {
    padding: 4px;
    padding-right: 8px;
  }

  & tr:nth-child(even) td {
    background: #eee;

    &.col-id {
      background: #ddd;
    }
  }

  & tbody tr:not(:last-child) td, & thead th {
    border-bottom: 1px solid #aaa;
  }

  & tbody td, & thead th {
    vertical-align: top;

    & label {
      display: block;
      text-transform: uppercase;
      color: #555;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 0.95em;
      font-family: $font-family;
    }
  }
}

.col-unknown {
  min-width: 80px;
}

.col-name {
  color: $text-main;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;

  &:hover {
    text-decoration: underline;
  }

  &.sorting-by {
    font-weight: bold;
  }
}

.filter-input {
  width: 100%;
  border: 1px solid #ccc;
  min-width: 80px;
  padding: 7px 4px;
}

.sort-caret {
  vertical-align: middle;
  font-size: 1.3em;
}

.col-id {
  min-width: 60px;
  background: #eee;
}
