.DataTable {
  width: 100%;
  grid-area: main;
  padding: 5px;

  & thead th {
    background: #acf;
  }

  & tbody td, & thead th {
    padding:  7px 12px;
  }
}

.col-unknown {

}

.col-id {
  width: 0.1vw;
  background: #eee;
}
